*
{
    padding: 0;
    margin: 0;
    font-family: 'Raleway'
}

header
{
    display: flex;
    justify-content: space-between;
}

a
{
    text-decoration: none;
}

header img
{
    width: 100px;
    height: 50px;
    margin-left: 30px;
    margin-top: 10px;
}

nav ul
{
    display: flex;
}

header li
{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    width:150px;
    height: 25px;
    border-top: 2px solid white;
}

header li:hover
{
    color: #0065fc;
    border-top: 2px solid #0065fc;
}

.accommodationLink, .activitiesLink
{
    display: flex;
    justify-content: center;
    text-decoration:none;
    color: black;
    padding-top: 10px;
    width:150px;
    height: 25px;
    border-top: 2px solid white;
}

.registrationLink
{
    display: flex;
    justify-content: center;
    text-decoration:none;
    list-style: none;
    align-items: center;
    color: #0065fc;
    margin-top: 10px;
    width:150px;
    height: 25px;
    font-weight: bold;
}

.firstSection
{
    padding-left: 25px;
}

h2, .caseResearch, .sectionfiltersBar, .exceptionalParagraph
{
    padding-top: 10px;
    padding-bottom: 10px;
}

p
{
    font-size: small;
}

.caseResearch
{
    display: flex;
    align-items: center;
}

.iconMap
{
    background-color: #F2F2F2;
    padding: 10px;
    border-radius: 10px 0px 0px 10px;
}

.search
{
    border: 0;
    font-size: 15px;
    font-weight: bold;
    padding-left: 10px; 
}

.searchButton
{
    color: white;
    background-color: #0065fc;
    border-radius: 0px 10px 10px 0px;
    padding: 10px;
    border: none;
    font-weight: bold;
}

.sectionfiltersBar
{
    display: flex;
    align-items: center;
}

.sectionfiltersBar h4
{
    padding-right: 10px;
}

.listingfiltersBar
{
    display: flex;
    flex-wrap: wrap;
}

.popularTitle
{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.popularTitle
{
    padding-right: 10px;
}

.listingfiltersBar  li
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border: 1px solid;
    border-radius: 30px;
    border-color: #F2F2F2;
    border-left: none;
    margin: 10px;
    font-weight: bold;
}

.listingfiltersBar  li:hover
{
    background-color: #DEEBFF;
}

.listingfiltersBar  div
{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #DEEBFF;
    padding: 10px;
    height: 15px;
    width:15px;
    color: #0065fc;
}

.listingfiltersBar li span
{
    margin-left: 10px;
    margin-right: 10px;
}

.caseFurtherInformation
{
    display: flex;
    align-items: center;
}

.iconsInfo
{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: grey solid 1px;
    padding: 1px;
    height: 15px;
    width:15px;
    color: #0065fc;
    font-size: x-small;
}

.caseFurtherInformation  p
{
    padding-left: 10px;
}

.secondSection
{
    display: flex;
    margin-top: 20px;
}

.secondSectionDivOfLeft
{
    display: flex;
    background-color: #F2F2F2;
    width: 75%;
    margin-left: 20px;
    margin-right: 10px;
    border-radius: 10px;
    padding: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.SizeTitle
{
    margin: 10px;
}

.showMore h4 
{
    margin-left: 30px;
    margin-bottom: 20px;
    font-size: 15px;
}

.listingMap
{
    display: flex;
    flex-wrap: wrap;
}

.blockSecondSectionDivOfLeft
{
    background: white;
    border-radius: 10px;
    margin: 0px 10px 10px 0px;
    padding: 5px;
    align-items: center;
    display: block;
    width: 30%;
    color: black;
}

.blockSecondSectionDivOfLeft img
{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    max-height: 50px;
    object-fit: cover;
}

.StarsIconsNote
{
    margin-left: 10px;
}

.listingMap h6,.listingMap p
{
    margin-left: 10px;
    margin-bottom: 5px;
}

.iconStar
{
    color: #0065fc;
    padding-bottom: 10px;
    font-size: small;
}

.iconStarDifferent
{
    color: #F2F2F2;
    font-size: small;
    padding-bottom: 10px;
}

.secondSectionDivOfRight
{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    width: 25%;
    margin-right: 20px;
    margin-left: 20px;
    padding: 10px;
    border-radius: 10px;
}

.blockPopular
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.popularTextContent
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
}

.blockSecondSectionDivOfRight
{
    display: flex;
    background: white;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    color: black;
}

.blockSecondSectionDivOfRight img
{
    width: 40%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 100px;
    object-fit: cover;
}

.popularContainer
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.thirdSection h2
{
    margin-left: 20px;
    margin-top: 40px;
}

.sale
{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.sale img 
{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

.sale h3
{
    font-size: 16px;
    color: black;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.imgLarge
{
    margin: 0 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 5px -2px rgb(98 98 99 / 34%);
}

.imgLarge , .activity-container
{
    width: 22%;
}

.imgLarge img
{
    width: 100%;
    height: 464px;
    object-fit: cover;
}

/* .activity-container a:nth-child(1) 
{
    margin-bottom: 20px;
} */
.activity-container
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activity-container img 
{
    width: 100%;
}

.small , .xsSmall
{
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 5px -2px rgb(98 98 99 / 34%);
    display: block;
}

.small img
{
    height: 150px;
}

.xsSmall img
{
    height: 250px;
}

.imgLarge:hover, .xsSmall:hover , .small:hover
{
    box-shadow: 10px 10px 10px -10px rgb(56, 56, 56);
}

.text
{
    border: 5px solid white;
    padding: 5px;
    font-weight: bold;
    border-radius: 0px 0px 10px 10px;
}

footer
{
    display: flex;
    background: #F2F2F2;
    margin-top: 50px;
    width: 100%;
}

footer div
{
    display: block;
    margin: 20px;
    width: 30%;
}

footer div h3
{
    margin: 10px;
    margin-bottom: 20px;
}

footer div p 
{
    margin: 10px;
}